Source: ros-kinetic-waypoint-touring
Section: misc
Priority: extra
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rospy
Homepage: http://wiki.ros.org/waypoint_touring
Standards-Version: 3.9.2

Package: ros-kinetic-waypoint-touring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-move-base, ros-kinetic-move-base-msgs, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-visualization-msgs
Description: Tours around the waypoints
